<!-- HEADER -->
<header class="label label-primary navbar navbar-fixed-top" style="min-height: 45px; background-image: linear-gradient(to bottom, #1eb0e9 0, #109adc 100%); margin:0; border-bottom:1px solid #0e5895">
    <div class="col-2" style="padding-left:10px;">
        <button id="bouton" type="button" class="btn btn-primary btn-xs pull-left" onclick='toggle()' style="float:left">
            <i class="icon-indent-right"></i>
        </button>
    </div>
    <span class="col-8" style="float:left">
        <i class="icon-plus-sign-alt icon-4x"></i>
    </span>
</header>

<div id="main" class="viewport">
    <div class="frame">
        <!-- MENU -->
        <div id="menu" class="menu-slide affix" data-ng-controller="NavCtrl">   
            <ul class="nav nav-pills nav-stacked">
                <li active-nav>
                    <a href='/' class="toggle-bouton"><i class="icon-list"></i> Liste client</a>
                </li>
                <li active-nav>
                    <a href='/customer/new' class="toggle-bouton"><i class="icon-user"></i> Ajouter client</a>
                </li>
                  <li active-nav>
                    <a href='/customer/contact' class="toggle-bouton"><i class="icon-user"></i> Liste contact</a>
                </li>
                  <li active-nav>
                    <a href='/customer/contact/new' class="toggle-bouton"><i class="icon-user"></i> Ajouter contact</a>
                </li>
                  <li active-nav>
                    <a href='/customer/machine' class="toggle-bouton"><i class="icon-user"></i> liste machines</a>
                </li>
                </li>
                  <li active-nav>
                    <a href='/customer/machine/new' class="toggle-bouton"><i class="icon-user"></i> Ajouter machines</a>
                </li>
                <li>
                    <a href="" data-ng-click="logout()" class="toggle-bouton"><i class="icon-power-off"></i> Log out</a>
                </li>
            </ul>
        </div>

<!-- CORPS -->
        <div id="corp" class="corp" style="margin-top: -25px;">
            <form class="form-horizontal" action="#" method="post" style="margin:0; padding:0; padding-right: 25px; padding-left: 25px;">
                <div class="form-group">  
                    <input type="text" class="form-control" name="name" placeholder="Name" ng-model='contact.name' required='required'>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="phone" placeholder="Phone" ng-model='contact.phone' required='required'>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Email address" ng-model='contact.email' required='required'>
                </div>
            </form>
        </div>

        <div class="btn-group btn-group-justified btn-block form-actions" style="padding-right: 10px; padding-left: 10px;">  
            <a href="#" class="btn btn-primary"><i class="icon-ok icon-white"></i> Enregistrer</a>  
            <a href="/customer/contact" class="btn btn-danger"><i class="icon-trash icon-large"></i> Annuler</a>  
        </div>
    </div>
</div>
