<!-- HEADER -->
<header class="label label-primary navbar navbar-fixed-top" style="min-height: 45px; background-image: linear-gradient(to bottom, #1eb0e9 0, #109adc 100%); margin:0; border-bottom:1px solid #0e5895">
    <div class="col-2" style="padding-left:10px;">
        <button type="button" class="btn btn-primary btn-xs pull-left bouton" onclick='toggle()' style="float:left">
            <i class="icon-indent-right"></i>
        </button>
    </div>
    <span class="col-8">
            <h4>Information base de données</h4> 
    </span>
</header>

<div id="main" class="viewport">
    <div class="frame">
        <!-- MENU -->
        <div id="menu" class="menu-slide affix" data-ng-controller="NavCtrl">   
            <ul class="nav nav-pills nav-stacked">
                <!-- <li active-nav>
                    <a href='/upload' class="toggle-bouton"><i class="icon-upload"></i> Upload Base</a>
                </li>
                <li active-nav>
                    <a href='/' class="toggle-bouton"><i class="icon-list"></i> Liste client</a>
                </li>
                <li active-nav>
                    <a href='/customer/new' class="toggle-bouton"><i class="icon-user"></i> Ajouter client</a>
                </li>
                  <li active-nav>
                    <a href='/customer/contact' class="toggle-bouton"><i class="icon-user"></i> Liste contact</a>
                </li>
                  <li active-nav>
                    <a href='/customer/contact/new' class="toggle-bouton"><i class="icon-user"></i> Ajouter contact</a>
                </li>
                  <li active-nav>
                    <a href='/customer/machine' class="toggle-bouton"><i class="icon-user"></i> liste machines</a>
                </li>
                </li>
                  <li active-nav>
                    <a href='/customer/machine/new' class="toggle-bouton"><i class="icon-user"></i> Ajouter machines</a>
                </li> -->
                <li>
                    <a href="" data-ng-click="logout()" class="toggle-bouton"><i class="icon-power-off"></i> Log out</a>
                </li>
            </ul>
        </div>

        <!-- CORPS -->
        <div id="corp" class="corp" style="padding-top: 20px;">
			<div class="jumbotron" style="text-align: center">
			  <div class="container">
			    <h1>STATISTIQUE</h1>
			    <p>Date de mise à jour : {{statistique.docUpdate | date:'medium'}}</p>
			    <p>Taille du fichier : {{statistique.docSize}} Ko</p>
			    <p>Nombre d'entrée dans le fichier : {{statistique.docItems}}</p>
			  </div>
			</div>
		</div> <!-- fin Corps -->
    </div> <!-- fin frame -->
</div> <!-- fin viewport -->